img{
 	width: 7cm;
 	height: 9cm;
 	align-items: center;

}
body{
	background-color: pink;
	color: black;
}
h1{
	text-align: center;
	background-color: black;
	color: pink;
}
.intro{
	line-height: 30px
	font-style: italic;
	font-size: 20px
}
.html{
	border: 2px solid gold;
  padding: 5px;
  margin: 10px;
  }
.sidebar{
  width: 35%;
  height: max;
  line-height: 40px;
  float: right;
  background-color: pink;
  color: black;
  font-size: 25px;
}
h2{
	background-color: black;
	color: pink;
	font-size: 25px;
	line-height: 30px;
}
h4{
	font-size: 20px;
}
.important{
	font-style: bolder;
	font-style: italic;
	font-size: 25px;
}
.body p{
	font-size: 20px;
	line-height: 30px;
}
.body ol{
	font-size: 20px;
}
@media screen and (max-width: 750px) {
    body {
        background-color: black;
        color: white;
    }
}
