img{
 	width: 7cm;
 	height: 9cm;
 	float: right;

}
body{
	background-color: pink;
	color: black;
}
h1{
	text-align: center;
	background-color: black;
	color: pink;
}
.intro{
	line-height: 30px
	font-style: italic;
	font-size: 20px
}
.column {
	text-align: center;
    width: 350px;
    float: left;
  }
.sidebar {
  width: 30%;
  float: left;
  background-color: yellow;
}
h2{
	background-color: black;
	color: pink;
}